/* Slider Design Start*/
.container{
    width: 60%;
    height:  26rem;
    margin: 0 auto;
}
.coursor{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative; 
}
.slider {
    width: 400%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.7s ease;
}
.slider .section{
    width: 100%;
    display: flex;
}

.section .img{
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position-y: top;
    height: 26rem;
}

.btns .prev{
    position: absolute;
    top: 50%;
    left: 0;
}
.btns .next{
    position: absolute;
    top: 50%;
    right: 0;

}

.coursor .dots{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

}

.dot{
    width: 0.7rem;
    height: 0.7rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0 0.3rem;
}
.active-dot{
    background-color: rgb(0, 0, 0);
}

/* Slider Design End */
